<ion-header-bar class="bar-dark">
  <h2 class="title">Movies List</h2>
</ion-header-bar>
<div class="bar bar-subheader item-input-inset bar-light">
  <label class="item-input-wrapper">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" ng-model="query" placeholder="Search">
  </label>
</div>
<ion-content ng-controller="ListController" class="has-subheader">
  <ion-list>
    <ion-item ng-repeat='item in movies | filter: query' class="item-thumbnail-left item-text-wrap">
      <img src="http://placehold.it/100x100" alt="photo">
      <h2>{{ item.title }}</h2>
      <p>
        {{ item.url }}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
